@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

body {
  position: relative;
}

.left_container {
  transition: all 2.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  background: #000;
  width: 100%;
  position: absolute;
  top: 0;
}

.left_container.StayLeft {
  left: -100%;
}

.left_container.SlideLeft {
  left: 0;
}

.container {
  transition: all 2.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  position: absolute;
  /* background: #f2f2f2; */
  /* background: #0B0B0C; */
}

.container.SlideRight {
  width: 520px;
  right: 0;
  top: 0;
  bottom: 0;
}

.container.StayInCenter {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.container.SlideRight .logoContainer {
  padding-bottom: 50px;
  transition: all 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.logo_2 {
  position: absolute;
  left: -10px;
  top: 0;
  transition: all 3.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.logo {
  position: absolute;
  top: 16px;
  transition: all 2.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.logo.stayRightSide {
  right: 20px;
}

.logo.SlideRightSide {
  right: -100%;
}

.animations {
  display: flex;
}

.animations .animationStripOne {
  height: 27px;
}

.animations .animationStripTwo {
  height: 74px;
}

.animations .animationStripThree {
  height: 39px;
}

.boxs {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  transition: all 3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.boxs.HideBox {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.boxs.ShowBox {
  opacity: 1;
  visibility: visible;
  height: max-content;
  margin-bottom: 50px;
  transition: opacity 2.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

/* mainContain */
.tableContainer::-webkit-scrollbar {
  display: none;
}