@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

@keyframes scaleShow {
  0%,
  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

body {
  position: relative;
  background-color: #0b0b0c;
}

.left_container {
  transition: all 2.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  background: #000;
  width: 100%;
  position: absolute;
  top: 0;
}

.left_container.StayLeft {
  left: -100%;
}

.left_container.SlideLeft {
  left: 0;
}

.containers {
  transition: all 2.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  position: absolute;
  /* background: #f2f2f2; */
  /* background: #0B0B0C; */
}

.containers.SlideRight {
  width: 520px;
  right: 0;
  top: 0;
  bottom: 0;
}

.containers.StayInCenter {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.container.SlideRight .logoContainer {
  transition: all 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.logo_2 {
  position: absolute;
  left: -30px;
  top: 0;
  transition: all 3.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.logo {
  position: absolute;
  top: 16px;
  transition: all 2.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.logo.stayRightSide {
  right: 20px;
}

.logo.SlideRightSide {
  right: -100%;
}

.animations {
  display: flex;
}

.animations .animationStripOne {
  height: 27px;
}

.animations .animationStripTwo {
  height: 74px;
}

.animations .animationStripThree {
  height: 39px;
}

/* m logo */

#text_logo,
#a_logo,
#c_logo,
#m_logo {
  opacity: 0;
}

#m_logo.show_m_logo {
  animation: scaleShow 0.8s ease-out;
  opacity: 1;
  transition: all 0.8s ease-out;
}

#c_logo.show_c_logo {
  animation: scaleShow 1.2s ease-out;
  opacity: 1;
  transition: all 1.2s ease-out;
}

#a_logo.show_a_logo {
  animation: scaleShow 1.4s ease-out;
  opacity: 1;
  transition: all 1.4s ease-out;
}

#text_logo.show_text_logo {
  animation: scaleShow 1.6s ease-out;
  opacity: 1;
  transition: all 1.6s ease-out;
}

.boxs {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  transition: all 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.boxs.HideBox {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.boxs.ShowBox {
  opacity: 1;
  visibility: visible;
  height: max-content;
  margin-bottom: 50px;
  margin-top: 40px;
  transition: all 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

/* mainContain */
.tableContainer::-webkit-scrollbar {
  display: none;
}
